@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Please Log in first.</h2>
<h3>Redirecting back to Admin Portal login page</h3>
@* Return to Login page after 3 seconds *@
<meta http-equiv="Refresh" content="3; url=/Admin/AdminLogin" />
