@* Reference from week 7 example 2 *@
@model int

@{
    var statusCode = Model;
    var statusmessage = "";
    switch (statusCode)
    {
        case 400:
            statusmessage = "Bad request: The request cannot be fulfilled due to bad syntax";
            break;
        case 403:
            statusmessage = "Forbidden";
            break;
        case 404:
            statusmessage = "Page not found";
            break;
        case 408:
            statusmessage = "The server timed out waiting for the request";
            break;
        default:
            statusmessage = "An Error happaned to the page";
            break;
            //throw new HttpResponseMessage(HttpStatusCode.NotModified);
    }
}
    <body style="background: url(../css/img/Error.png) no-repeat center center fixed; background-size: cover;">
        <div style="position: fixed; left: 600px; top:250px">
            <h1 style="font-size:60px; color:red">Error @Model</h1>
            <h3 style="font-size:40px; font-style: italic;">@statusmessage</h3>
        </div>
    </body>