@model IEnumerable<a2_s3673712_s3719368.Area.Admin.Models.AccountDto>
@{
    ViewData["Title"] = "Select Transaction";
}

<h1>Select Account Transaction</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SelectTransaction">
            <label for="Account" class="control-label">Select Account: </label>
            <select id="Account" name="Account" class="form-control" data-val="true">
                @foreach (var account in Model)
                {

                    <option value="@account.AccountNumber" data-val="true">@account.AccountNumber</option>
                }
            </select>
            <label for="FromDate" class="control-label">From Date: </label>
            <input id="FromDate" name="FromDate" type="datetime-local" class="form-control" data-val="true"
                   data-val-required="The Amount field is required." />
            <label for="ToDate" class="control-label">To Date: </label>
            <input id="ToDate" name="ToDate" type="datetime-local" class="form-control" data-val="true"
                   data-val-required="The Amount field is required." />
            <div class="form-group">
                <input type="submit" value="View Transaction" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
