@model Customer
@{
    ViewData["Title"] = "ChangePassword";
}

<h1>ChangePassword</h1>

<form asp-action="ChangePassword">

    <p>
        Old Password:

        <a>
            <input type="password" class="form-control" name="oldPassword"  data-val="true"
                   data-val-required="This field is required.">
        </a>
        @Html.ValidationMessage("oldPassword", new { @class = "text-danger" })

    </p>
    <p>
        New Password:

        <a>
            <input type="password" class="form-control" name="newPassword" data-val="true"
                   data-val-required="This field is required.">
        </a>
        @Html.ValidationMessage("newPassword", new { @class = "text-danger" })
    </p>
    <p>
        Confirm New Password:

        <a>
            <input type="password" class="form-control" name="confirmPassword"  data-val="true"
                   data-val-required="This field is required.">
        </a>
        @Html.ValidationMessage("confirmPassword", new { @class = "text-danger" })

    </p>
    <p>
        <input type="submit" class="btn btn-primary"
               value="Edit">
        @Html.ValidationMessage("NotFoundCustomer", new { @class = "text-danger" })
    </p>
</form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

