
@{
    ViewData["Title"] = "PasswordChanged";
}

<h1 class="display-4">You have changed your password successfully</h1>
@* Return to Edit page after 3 seconds *@
<meta http-equiv="Refresh" content="3; url=/MyProfile/Edit" />
